<div class="client-action-component">
    <player-mat [player]="client" [showCardRevealButton]="false"></player-mat>
    <p>Game Phase: {{gamePhase}}</p>
    <div id="playerActionsArea" [ngClass]="isClientTurn ? 'active-player' : ''">
        <p>Your hand:</p>
        <ul>
            <li *ngFor="let card of client.hand">
                {{card.toString}} 
                <button 
                *ngIf="isClientTurn && (gamePhase == playCardsPhase || gamePhase == playOrBidPhase)"
                (click)="playCard(card)">Play</button>
            </li>
        </ul>
        <div id="action-buttons" *ngIf="isClientTurn">
            <div id="bidding-area" *ngIf="gamePhase == playOrBidPhase || gamePhase == biddingPhase">
                <input type="number" name="bid-input" id="bid-input" [(ngModel)]="clientBid">
                <button id="raise-bid-button" (click)="makeABid()">Submit Bid</button>
                <button id="pass-bid-button" (click)="passBid()">Pass Bidding</button>
            </div>
            <button *ngIf="gamePhase == challengePhase && !client.hasPassedBidding" (click)="startChallenge()">Start Challenge</button>
            <button *ngIf="gamePhase == playCardsPhase" (click)="endTurn()">End Turn</button>
        </div>
        <button (click)="revealCard()">Reveal your card</button>
    </div>

    <p>Your Wins: {{client.winCount}}</p>
</div>