<div class="client-action-component">
    <player-mat [player]="client"></player-mat>

    <div id="playerActionsArea" [ngClass]="isClientTurn ? 'active-player' : ''">
        <p>Your hand:</p>
        <ul>
            <li *ngFor="let card of client.hand">
                {{card.toString}} <button *ngIf="isClientTurn" (click)="playCard(card)">Play</button>
            </li>
        </ul>
        <ul id="action-buttons" *ngIf="isClientTurn">
            <li>
                <button (click)="endTurn()">End Turn</button>
            </li>
        </ul>
    </div>

    <p>Your Wins: {{client.winCount}}</p>
</div>