<div>
    <div id="opponentSpace">        
        <div class="game-players">
            <player-mat *ngFor="let player of nonClientPlayers"
                        [player]="player"
                        [isPlayersTurn]="player.id === currentTurnPlayerId"
                        [showCardRevealButton]="isClientHighestBidder && gamePhase == 3 && player.cardsPlayed > 0 && isChallengeComplete == false">
            </player-mat>
        </div>
    </div>
    <div id="gameStateArea">
        <game-state-component [gamePhase]="gamePhase"></game-state-component>
    </div>
    <client-action [client]="client"
                   [isClientTurn]="client.id === currentTurnPlayerId"
                   [gamePhase]="gamePhase"></client-action>
</div>