<div *ngIf="gamePhase == playCardsPhase || gamePhase == playOrBidPhase">
    <p>{{activePlayer}}'s Turn</p>
</div>
<div *ngIf="gamePhase == biddingPhase">
    <p>{{activePlayer}}'s Turn</p>
    <p>Highest Bid: {{highestBid.bid}} from {{highestBid.name}}</p>
</div>
<div *ngIf="gamePhase == challengePhase">
    <p *ngIf="cardsToReveal > 0">{{activePlayer}} has to reveal {{cardsToReveal}} more {{cardsToReveal == 1 ? "card" : "cards"}}!</p>

    <p *ngIf="client.cardsPlayed > 0"> {{activePlayer}} has to reveal cards from their hand first!</p>
    <p *ngIf="client.cardsPlayed == 0"> {{activePlayer}} now reveals other player's cards!</p>
    
    <ul>
        <li *ngFor="let card of revealedCards">
            {{card.card.toString}}
        </li>
    </ul>
</div>
<div *ngIf="gamePhase == roundOverPhase">
    <p *ngIf="lastCard.card.toString == '💀' && isRevealedCardTheOwnersCard">{{activePlayer}} has lost the challenge, after revealing their own Skull card! They now discard a card of their choosing.</p>
    <p *ngIf="lastCard.card.toString == '💀' && !isRevealedCardTheOwnersCard">{{activePlayer}} has lost the challenge, after revealing another player's Skull! They now lose a card at random!</p>
    <p *ngIf="lastCard.card.toString == '🌼'">{{activePlayer}} has succeeded in revealing all {{highestBid.bid}} cards!</p>
    <p *ngIf="lastCard.card.toString == '🌼'">{{activePlayer}} has won the challenge, they're one step closer to winning the game!</p>
</div>

