<div class="player-area-component" [ngClass]="isPlayersTurn ? 'active-player' : ''">
    <div class="player-bid">
        Bid: {{player.hasPassedBidding ? "passed" : player.bid}}
    </div>
    <div class="player-stack">Stack: {{player.stack.length.toString()}}</div>
    <div class="player-hand">Hand: {{player.hand.length.toString()}}</div>
    <div class="player-info">
        <p>{{player.name}}</p>
        <p>In the game: {{player.totalCards > 0}}</p>
        <p>In the round: {{player.isStillPlaying}}</p>
    </div>
    <button *ngIf="showCardRevealButton" (click)="revealCard()">reveal top card</button>
</div>